

footer {
  text-align: center;
  padding: 3px;
  background-color:#333;
  color: white;
  left: 0;
bottom: 0;
width: 100%;
}

thead {
  font-family: 'Times New Roman', Times, serif;
  font-size: 10px;
}
caption {
  font-size: 100%;
}
th {
  font-family: 'Times New Roman', Times, serif; 
  font-size: 150%; font-weight: 1000; 
  text-decoration-line:underline;
}

table, th, td {border: 1px solid black;
   
}
th, td {
padding: 5px;
text-align: left;    
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: 
  color
}

@media screen and (max-width: 500px) {
  .topnav a {
    float: none;
    display: block;
    text-align: left;
    width: 25%;
    padding: 8px 8px;
  }
}


#ccg {
  display: block;
  margin-left: auto;
  margin-right: auto;
} 

#ccg {
  width:55%;
  min-width:1500px;
  }