/* Style the topnav links */
.topnav a {
    background-color: #333;  
    float: left;
    display: block;
    color: #fdfdfd;
    text-align: center;
    padding: 14px 16px;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #333;
    color: #fdfdfd;
  }

  /* On screens that are 880px wide or less, make the menu links stack on top of each other instead of next to each other */
  @media screen and (max-width: 880px) {
    .topnav a {
      float: none;
      display: block;
      text-align: left;
      width: 25%;
      padding: 8px 8px;
    }
}

footer {
  text-align: center;
  padding: 3px;
  background-color:#333;
  color: white;
  left: 0;
bottom: 0;
width: 100%;
}

thead {
  font-family: 'Times New Roman', Times, serif;
  font-size: 10px;
}
caption {
  font-size: 100%;
}
th {
  font-family: 'Times New Roman', Times, serif; 
  font-size: 150%; font-weight: 1000; 
  text-decoration-line:underline;
}

table, th, td {border: 1px solid black;
   
}
th, td {
padding: 5px;
text-align: left;    
}